@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300, 400');

html{
    height: 100%;
}
body {
    background-color: #FFFFFF;
}

h1 {
    color: #FFFFFF;
    font-family: 'Libre Franklin', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    display: table-cell;
    white-space: nowrap;
    font-weight: 300;
    vertical-align: middle;
}




th{
    border: transparent !important;
    background: transparent !important;
    color: #222222 !important;
    box-shadow: none !important;
}

td{
    text-align: center !important;
}

.ui-datatable table{
    border-collapse: inherit !important;
}

table{
    border:none !important;
}

label{
    color: #222222;
    margin-right: 50px;
}

.form{
    width: 400px;
    height: 230px;
    background: #edeff1;
    margin: 0px auto;
    padding-top: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-top: 50px
}


.login-input{
    display: block;
    width: 309px;
    height: 35px;
    margin: 15px auto;
    background: #fff;
    border: 0px;
    padding: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.login-input:focus{
    border: 2px solid #1abc9d
}

input[type="submit"]{
    display: block;
    background: #79564A;
    width: 314px;
    padding: 12px;
    cursor: pointer;
    color: #fff;
    border: 0px;
    margin: auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 17px;
    transition: all 0.3s ease;
}

input[type="submit"]:hover{
    background: #333333;
}

.disconnect-button{
    background: none;
    border: none;
    color: #FFFFFF;
    text-decoration: underline;
    cursor: pointer;
    float: left;
    text-align: left;
}

.disconnect-button:hover{
    background: none !important;
}

.h1-wrapper{
    width: 100%;
    display: inline-table;
}

.credit{
    color: #FFFFFF;
    background: #78AB46
}

.debit{
    color: #FFFFFF;
    background: #8B3A3A
}